Flask==0.12.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.2
Google-Search-API==1.1.13
Jinja2==2.9.6
MarkupSafe==1.0
MySQL-python==1.2.3
SQLAlchemy==1.1.13
Werkzeug==0.12.2
beautifulsoup4==4.6.0
colorama==0.3.2
docopt==0.6.2
html5lib==0.999
itsdangerous==0.24
python-dateutil==2.6.1
requests==2.4.3
urllib3==1.9.1
wikipedia==1.4.0
yahoo-finance==1.4.0
gunicorn==19.7.1
