{% extends "layout.html" %}
{%block title%}Stocky{%endblock%}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tracking {{total_companies}} Companies</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <ul>
                {%for company in companies%}
                    <li><a href="/company/{{company.symbol}}">{{company.name}}</a></li>
                {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}

