{% extends "layout.html" %}
{%block title%}{{company.symbol}} | Stocky{%endblock%}
{% block javascript%}
    <script src="/static/vendor/flot/excanvas.min.js"></script>
    <script src="/static/vendor/flot/jquery.flot.js"></script>
    <script src="/static/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/static/vendor/flot/jquery.flot.time.js"></script>
    <script src="/static/vendor/flot/jquery.flot.symbol.js"></script>
    <!-- <script src="/static/vendor/flot/jquery.flot.axislabels.js"></script> -->
    <script src="/static/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <!-- <script src="/static/data/flot-data.js"></script> -->
    <script src="/company_data/{{company.id}}/quote_data.js"></script>
{%endblock%}
{% block content %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">{{company.name}}</h1>
        </div>
        <!-- /.col-lg-8-->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dollar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{company.price|fmt_currency}}</div>
                            <div>Current Price</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td><strong>52 Week</strong></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>High</td>
                                    <td>
                                        <strong>$ {{company.high_52_weeks|fmt_currency}}</strong>
                                        <small>(-{{(company.high_52_weeks - company.price)|percentage(company.high_52_weeks)}}%)</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{company.high_52_weeks_date|time_ago}}
                                </tr>
                                <tr>
                                    <td>Low</td>
                                    <td>
                                        <strong>$ {{company.low_52_weeks|fmt_currency}}</strong>
                                        <small>(+{{(company.price - company.low_52_weeks)|percentage(company.price)}}%)</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{company.low_52_weeks_date|time_ago}}
                                </tr>
                                <tr>
                                    <td>Avg</td>
                                    <td>
                                        <strong>$ {{company.avg_52_weeks|fmt_currency}}</strong>
                                        ( {{(company.price - company.avg_52_weeks)|percentage(company.price)}}% )
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<!--         <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-arrow-up fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{company.high_52_weeks}}</div>
                            <div>{{company.high_52_weeks_date|time_ago}}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">52 Week High</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-arrow-down fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{company.low_52_weeks}}</div>
                            <div>{{company.low_52_weeks_date|time_ago}}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">52 Week Low</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div> -->
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-building fa-fw"></i> Info
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="list-group">
                                {%if company.sector%}
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-building-o fa-fw"></i> Sector
                                        <span class="pull-right text-muted"><strong>{{company.sector}}</strong></span>
                                    </a>
                                {%endif%}
                                {%if company.industry%}
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-building-o fa-fw"></i> Industry
                                        <span class="pull-right text-muted">
                                            <strong>{{company.industry}}</strong>
                                        </span>
                                    </a>
                                {%endif%}
                                {%if company.exchange %}
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-building-o fa-fw"></i> Exchange
                                        <span class="pull-right text-muted"><strong>{{company.exchange}}</strong></span>
                                    </a>
                                {%endif%}
                                {%if 'wikipedia_url' in company.meta%}
                                    <a href="{{company.meta['wikipedia_url']['value']}}" target="_new" class="list-group-item">
                                        <i class="fa fa-wikipedia-w fa-fw"></i> Wikipedia Url
                                        <span class="pull-right text-muted">
                                            {{company.meta['wikipedia_url']['value']}}
                                        </span>
                                    </a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 52 Week Chart
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div style="width:100%;height:100%" class="flot-chart-content" id="flot-line-chart-multi"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Company Meta Data
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>




                <!-- /.panel-heading -->



                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Meta Key</th>
                                            <th>Meta Type</th>
                                            <th>Created/Updated</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for meta_key, meta in company.meta.iteritems()%}
                                            <tr>
                                                <td>{{meta.id}}</td>
                                                <td>{{meta.meta_key}}</td>
                                                <td>{{meta.meta_type}}</td>
                                                <td>{{meta.ts_updated}}</td>
                                                <td>
                                                    {%if meta['meta_type'] == 'pickle'%}
                                                        {%for p_dict_key, val in meta['value'].iteritems()%}
                                                            <b>{{p_dict_key}}</b>
                                                            <br>
                                                            {{val}}
                                                            <br>
                                                        {%endfor%}
                                                    {%else%}
                                                        {{meta.value}}
                                                    {%endif%}
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>



        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Admin Stats
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-building-o fa-fw"></i> Company ID
                            <span class="pull-right text-muted"><strong>{{company.id}}</strong></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Quotes
                            <span class="pull-right text-muted"><strong>{{quotes|length}}</strong></span>
                            
                        </a>
                        {%if 'web_hit' in company.meta%}
                            <a href="#" class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Web Hits
                                <span class="pull-right text-muted"><strong>{{company.meta['web_hit']['value']}}</strong></span>
                                
                            </a>
                        {%endif%}
                        {%if 'last_price' in company.meta%}
                            <a href="#" class="list-group-item">
                                <i class="fa fa-clock-o fa-fw"></i> Last Price
                                <span class="pull-right text-muted"><strong>{{company.meta['last_price']['value']|time_ago}}</strong></span>
                            </a>
                        {%endif%}
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="chat-panel panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="#">
                                    <i class="fa fa-refresh fa-fw"></i> Refresh
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-check-circle fa-fw"></i> Available
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-times fa-fw"></i> Busy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-clock-o fa-fw"></i> Away
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>


{% endblock %}